    <!-- Modal -->
    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tambah Member</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/admin/member" method="POST" >
            <div class="modal-body">
                    <div class="form-group">
                      <label for="name">First Name</label>
                      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" required>
                      <label for="name">Last Name</label>
                      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" required>
                      <label for="name">Email</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
                      <label for="name">Phone Number</label>
                      <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
          </div>
        </div>
      </div>